$primary: #086788;      // blue sapphire
$primary-light-1: #0A85AE;
$primary-light-2: #0DB1E7;
$primary-light-3: #51CCF5;

$secondary: #E54B4B;    // imperial red
$secondary-light-1: #EB7070;
$secondary-light-2: #F09494;
$secondary-light-3: #F7C9C9;

$background: #efefef;